<div class="container">
	<h1>Contacto</h1>
	<div id="texto" #textos>
		<p appHighlighted>
			Esta es la página de contacto, puedes enviarnos cualquier duda.
		</p>
	</div>

<!--
	Tamaño del slider:
	<input id="ancho" type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
	<button (click)="cargarSlider()" class="button-default" *ngIf="!anchuraToSlider">Cargar slider</button>
	<button (click)="resetearSlider()" class="button-default" *ngIf="anchuraToSlider">Resetear slider</button>
	<div *ngIf="anchuraToSlider">
		<slider [anchura]="anchuraToSlider" [etiquetas]="captions" (conseguirAutor)="getAutor($event)"></slider>
	</div>
	<br>
	<div *ngIf="autor">
		{{ autor.nombre + " - " + autor.website }}
	</div>
-->
</div>