<div id="title">
	<h1>{{ title }}</h1>
	<h2>{{ subtitle }}</h2>
	<p>{{ email }}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et sollicitudin erat. Proin semper semper neque id vestibulum. Duis vestibulum mauris magna, ac fringilla enim pretium ultrices. Ut hendrerit bibendum diam nec rutrum. Etiam mattis, nibh quis condimentum lobortis, risus lacus ornare urna, et sodales lectus nibh vitae nisi. Maecenas quis pretium sapien. Cras consectetur justo a nibh vulputate suscipit. Ut pretium, justo dapibus sollicitudin fermentum, mauris sem viverra justo, sollicitudin venenatis nunc diam ac nisl. Fusce cursus ipsum in velit pulvinar, semper gravida dui imperdiet. Duis feugiat sapien id mauris dapibus, eget iaculis ipsum imperdiet. Cras metus nunc, mattis sed molestie mollis, pulvinar vitae diam. Suspendisse facilisis quam at mauris elementum fringilla. Praesent ut mauris quis arcu consequat viverra a sed odio.
	</p>
</article>